@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'header.css';
@import 'wallet.css';
@import 'painter.css';

@layer base {
  /* :root { } this is the root of the theme */

  .dark {
    .bg-muted,
    .bg-background .bg-card {
      background-color: #1f2937;
    }

    .bg-background,
    .bg-muted .bg-card {
      background-color: #111827;
    }
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  main {
    padding-top: 60px;
  }
}