:root {
  .bg-muted,
  .bg-background .bg-card {
    background-color: #e7e7e7;
    color: #4c4e52;
  }

  .bg-background,
  .bg-muted .bg-card {
    background-color: #d6d6d6;
  }

  .painter .slider {
    background-color: rgba(214, 214, 214, 0.5);

    .slider-range {
      background-color:  rgba(214, 214, 214);
    }
    .slider-thumb {
      border-color: rgba(231, 231, 231);
      background-color: rgb(214, 214, 214);
    }
  }
}

.dark {
  .bg-muted,
  .bg-background .bg-card {
    color: #9ca3af;
  }

  .bg-background,
  .bg-muted .bg-card {
    color: #9ca3af;
  }

  .painter .slider {
    background-color: rgba(55, 65, 81, 0.5);

    .slider-range {
      background-color:  rgba(55, 65, 81);
    }
    .slider-thumb {
      border-color: rgba(55, 65, 81);
      background-color: rgb(17, 24, 39);
    }
  }
}

.painter {
  #canvas {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(55, 65, 81, 0.7);
    }

    &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner {
      background-color: rgba(31, 41, 55, 0.1);
    }
  }

  .btn-tool {
    width: 35px;
    height: 35px;
    padding: 8px;
    background: none !important;
  }

  .color-picker {
    width: 28px;
    height: 28px;
    padding: 0;
    border: 2px solid gray;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}